@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Noto+Sans+TC:wght@100..900&display=swap');
/* 預設空白 5px */
* {
    padding: 5px;
    margin: 5px;
}
    
html{border: #73573E 1px solid;}
body    {
    color:#261B02;
    background-color: #EAE9E6;
    font-size: 18px;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 300;
    font-style: normal; 
    border: #73573E 1px solid;
}
header , footer{
    background-color: #EBECB2;
    color:#1C1302 ;
    border-top: #cf925c 1px solid;
    border-left: #cf925c 1px solid;
    border-bottom: #704f2f 4px solid;
    border-right: #704f2f 5px solid;
    border-radius: 15px;
   height: 110px; 

}

header ul{
    position: absolute;
    top: 25px;
    right: 35px;
    line-height: 100px;
}

header H1{
    position: absolute;
    top: 25px;
    left: 35px;
    line-height: 100px;
    background-image: url(images/logo.png);
    background-size: 100px 100px;
    background-position: center;
    background-repeat:no-repeat;
    width: 100px;
    height: 100px;
    text-indent: 103%;
    white-space: nowrap;
    font-size: 1.3rem;
}

header H2{
    position: absolute;
    top: 100px;
    left: 170px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

 header a{
    color: #73573E;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

header li{
    font-weight: 700;
    display: inline;
    margin-right: 0rem;
}

header img:hover{
    opacity: 0.65;
}

h1, h2, h3, h4, h5, h6, {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1{font-weight: 800; font-size: 1.6rem}
h2{font-weight: 700; font-size: 1.5rem}
h3{font-weight: 600; font-size: 1.4rem}
h4{font-weight: 500; font-size: 1.3rem}
h5{font-weight: 300; font-size: 1.2rem}
h6{font-weight: 100; font-size: 1.1rem}
