body    {
    color:#6B3A46;
    background-color: #dde9df;
    font-size: 18px;
    font-family: "標楷體", "微軟正黑體", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}