@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Noto+Sans+TC:wght@100..900&display=swap');
body    {
    color:#261B02;
    background-color: #EAE9E6;
    font-size: 18px;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 300;
    font-style: normal; 
}
header , footer{
    background-color: #EBECB2;
    color:#1C1302 ;
}
 header a{
    color: #73573E;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

header li{
    font-weight: 700;
    display: inline;
    margin-right: 1.2rem;
}

header img:hover{
    opacity: 0.65;
}

h1, h2, h3, h4, h5, h6, {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1{font-weight: 800; font-size: 1.6rem}
h2{font-weight: 700; font-size: 1.5rem}
h3{font-weight: 600; font-size: 1.4rem}
h4{font-weight: 500; font-size: 1.3rem}
h5{font-weight: 300; font-size: 1.2rem}
h6{font-weight: 100; font-size: 1.1rem}
