@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Noto+Sans+TC:wght@100..900&display=swap');
body {
    color:#6B3A46;
    font-size: 18px;
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 300;
    font-style: normal;
}

h1, h2 {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

h3, h4 {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

h5, h6 {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

.product h3 {
    border-bottom: #ccc 1px solid;
}

.menu li a {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-size: 16px;
}

.menu li a:hover {
    text-decoration: underline;
    color:#075b0f
}

.feature h3 {
    border-bottom: #c7b9b9 1px solid;
}

.logo p {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-size: 1.1rem;
    border-bottom: #c7b9b9 1px solid;
}